body {
  background: url("images/bg2.jpg") no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: roboto; }

.container {
  max-width: 1366px;
  max-height: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.wrapper {
  width: 80%;
  min-height: 605px;
  background: url("images/wrapperbg2.jpg") no-repeat;
  background-size: cover;
  position: relative;
  /*margin-top:100px;*/
  margin: 90px 0 0 5%; }
  .wrapper .logo {
    width: 200px;
    position: absolute;
    margin-top: -100px;
    right: -95px; }
  .wrapper .chick {
    padding-top: 60px; }
  .wrapper .img-responsive {
    margin-left: 4.5rem;
    width: 70%;
    max-width: 726px;
    -webkit-box-shadow: 0px 1px 48px 6px #5e1e33;
    -moz-box-shadow: 0px 1px 48px 6px #5e1e33;
    box-shadow: 0px 1px 48px 6px #5e1e33; }
  .wrapper p {
    font-size: 1.7em;
    color: #ECF0F1;
    text-align: right;
    width: 17%;
    line-height: 1.5em;
    float: right;
    margin-right: 4.5rem;
    margin-top: -430px; }
  .wrapper button {
    color: black;
    font-size: 1.7em;
    padding: 0.5em 2.7em;
    background-color: #eea32e;
    position: absolute;
    border-radius: 0;
    right: -6.7em;
    top: 500px;
    transition: background 0.3s ease; }
  .wrapper button:hover {
    background-color: #ee931a;
    color: black; }
  .wrapper .social-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -10rem;
    top: 115px; }
    .wrapper .social-links img {
      width: 60px;
      padding-top: 80px; }

@media only screen and (max-width: 1125px) {
  .wrapper {
    margin: 90px auto; }
    .wrapper button {
      right: 15rem;
      top: 510px; }
    .wrapper p {
      font-size: 1.3em;
      margin-top: -350px;
      margin-right: 15px; }
    .wrapper .social-links {
      right: 3.3rem;
      top: 400px;
      flex-direction: row; }
      .wrapper .social-links img {
        width: 40px;
        padding-top: 0;
        margin-left: 3.5em; } }
@media only screen and (max-width: 1060px) {
  .wrapper {
    min-height: 575px; }
    .wrapper button {
      top: 490px;
      right: 10rem; }
    .wrapper .social-links {
      top: 400px; } }
@media only screen and (max-width: 1000px) {
  .wrapper {
    min-height: 557px; }
    .wrapper p {
      margin-top: -320px !important; }
    .wrapper button {
      top: 470px; }
    .wrapper .social-links {
      top: 400px; }
      .wrapper .social-links img {
        width: 30px !important; } }
@media only screen and (max-width: 950px) {
  .wrapper {
    min-height: 530px; }

  button {
    top: 445px !important; }

  .social-links {
    top: 385px !important; } }
@media only screen and (max-width: 900px) {
  .wrapper {
    min-height: 510px; }
    .wrapper button {
      top: 428px !important;
      right: 26rem; }
    .wrapper .social-links {
      top: 435px !important; }
      .wrapper .social-links img {
        width: 40px !important; } }
@media only screen and (max-width: 850px) {
  .wrapper {
    min-height: 500px; }
    .wrapper p {
      font-size: 1.1em;
      margin-top: -250px !important; }
    .wrapper .social-links {
      top: 420px !important; }
    .wrapper button {
      top: 410px !important; } }
@media only screen and (max-width: 800px) {
  .wrapper {
    margin-bottom: 500px;
    min-height: 480px !important; }
    .wrapper .social-links {
      top: 400px !important; }
    .wrapper button {
      top: 393px !important; } }
@media only screen and (max-width: 750px) {
  .wrapper {
    min-height: 680px !important;
    margin: 80px auto; }
    .wrapper .logo {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 160px;
      top: 20px; }
    .wrapper .img-responsive {
      margin: 0 auto;
      width: 80%;
      max-width: none; }
    .wrapper p {
      text-align: center;
      width: 80%;
      line-height: 1.5em;
      float: none;
      margin: auto;
      margin-top: 30px !important;
      font-size: 1.5em; }
    .wrapper button {
      width: 90%;
      margin: auto;
      left: 0;
      right: 0;
      top: 75% !important;
      position: absolute; }
    .wrapper .social-links {
      top: 87% !important;
      left: 50% !important;
      transform: translate(-50%, 0); }
      .wrapper .social-links img {
        width: 50px !important; } }
@media only screen and (max-width: 620px) {
  .wrapper {
    min-height: 645px !important; }
    .wrapper .social-links {
      left: 45% !important; } }
@media only screen and (max-width: 550px) {
  .wrapper {
    min-height: 620px !important; }
    .wrapper .social-links {
      left: 44% !important; } }
@media only screen and (max-width: 450px) {
  .wrapper .social-links {
    left: 40% !important; } }
@media only screen and (max-width: 400px) {
  .wrapper .social-links {
    left: 35% !important; } }

/*# sourceMappingURL=styles.css.map */
